.app {
  text-align: center;
  height: 100vh;
  color: #fff;
  background-color: #333;
}

.header {
  height: 10vh;
}

.sidebar {
  height: 85vh;
}

.content {
  background-color: gray;
}

.footer {
  height: 5vh;
}

button {
  cursor: pointer;
}