.app {
  text-align: center;
  height: 100vh;
  color: #fff;
  background-color: #272b30;
  padding: 0;
}

.header {
  height: 10vh;
}

.content {
  height: 85vh;
  display: flex;
  justify-content: center;
}

.properties {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
}

.footer {
  height: 5vh;
}

button {
  cursor: pointer;
}