.App {
  text-align: center;
  height: 100vh;
}

.App div {
  color: #fff;
}

.header {
  height: 10vh;
  background-color: #333;
}

.sidebar {
  height: 85vh;
  background-color: #333;
}

.content {
  background-color: gray;
}

.footer {
  height: 5vh;
  background-color: #333;
}