.app {
  text-align: center;
  height: 100vh;
  color: #fff;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url(../wallpaper.jpg);
  padding: 0;
}

.header {
  height: 10vh;
}

.content {
  height: 85vh;
  display: flex;
  justify-content: center;
}

.properties {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
}

.footer {
  height: 5vh;
}

button {
  cursor: pointer;
}