.properties {
  background-color: #515960;
  height: 100vh;
  border-left: 1px solid black;
}

.properties > p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.properties > textarea {
  background-color: #272b30;
  color: white;
  border: 1px solid black;
  padding: 10px;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}

textarea::-moz-placeholder {
  color: #c4c4c4;  
}