.table {
  width: 1200px;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-template-columns: 30% 70%;
  vertical-align: middle;
}

.project {
  font-size: 20px;
}

.thead {
  margin: auto;
  margin-top: 20px;
  background-color: #515960;
  color: #fff;
  width: 1200px;
  display: flex;
  border: 1px solid black;
}

.numTask {
  display: flex;
  width: 5%;
  padding: 3px;
  border-right: 1px solid black;
}

.newTask {
  width: 50%;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.num {
  width: 50%;
}

.newTask, 
.newTask:active, 
.newTask:focus {
  outline: none;
}

.task {
  width: 55%;
  padding: 3px;
  border-right: 1px solid black;
}

.plan {
  width: 10%;
  padding: 3px;
  border-right: 1px solid black;
}

.fact {
  width: 10%;
  padding: 3px;
  border-right: 1px solid black;
}

.percent {
  width: 10%;
  padding: 3px;
  border-right: 1px solid black;
}

.necessary {
  width: 10%;
  padding: 3px;
}
