.thead {
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  width: 1200px;
  opacity: 0.9;
}

.thead > div {
  border: 1px solid gray;
}

.numTask {
  display: flex;
  width: 5%;
}

.newTask {
  width: 50%;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.newTask, 
.newTask:active, 
.newTask:focus {
  outline: none;
}

.task {
  width: 55%;
}

.plan {
  width: 10%;
}

.fact {
  width: 10%;
}

.percent {
  width: 10%;
}

.necessary {
  width: 10%;
}
