.item {
  display: flex;
  margin: auto;
  background-color: #222;
  color: #fff;
  width: 1200px;
}
.item > div {
  border: 1px solid gray;
}
.item > .task {
  background-color: #222;
  color: #fff;
  border: 1px solid gray;
  text-align: left;
  padding-left: 5px;
}
.item > .task:focus {
  outline: none;
  background-color: #234;
}
.item > .plan {
  background-color: #222;
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}
.item > .plan:focus {
  outline: none;
  background-color: #234;
}
.item > .fact {
  background-color: #222;
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}
.item > .fact:focus {
  outline: none;
  background-color: #234;
}
.item > .percent {
  background-color: #222;
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}
.item > .percent:focus {
  outline: none;
  background-color: #234;
}
.item > .necessary {
  background-color: #222;
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}