input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.item {
  display: flex;
  margin: auto;
  background-color: #222;
  color: #fff;
  width: 1200px;
}

.item > div {
  border: 1px solid gray;
}

.item > input {
  background-color: #222;
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}

button {
  cursor: pointer;
  text-align: center;
  border: 1px solid gray;
}

.item button:active,
.item button:focus {
  outline: none;
}

.item > input:focus {
  outline: none;
  background-color: #234;
}

.removeTask {
  width: 50%;
  border: none;
  color: inherit;
  background-color: transparent;
}

.properties {
  width: 2.5%;
  background-color: #222;
  color: LightGray ;
  border: 1px solid gray;
}

.item > .task {
  text-align: left;
  padding-left: 5px;
  width: 47.5%;
}

.timerButton {
  width: 5%;
  background-color: #222;
  color: #fff;
}

.timerButton.stop {
  background-color: maroon;
  transition-duration: 0.2s;
}

.timerButton.stop:after {
  content:'Stop'; 
}

.timerButton.start {
  background-color: seagreen;
  transition-duration: 0.2s;
}

.timerButton.start:after {
  content:'Start';
}

.necessary {
  color: #fff;
  border: 1px solid gray;
  text-align: center;
}
