input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.item {
  display: flex;
  background-color: #3a3f44;
  color: #fff;
  width: 1200px;
  height:30px;
  line-height:30px;
  padding: 0;
  border: 1px solid black;
  border-top: none;
}

.item input {
  background-color: #3a3f44;
  color: #fff;
}

.item input::-webkit-input-placeholder {
  color: #c4c4c4;
}
  
.item input::-moz-placeholder {
  color: #c4c4c4;  
}

.item input:focus {
  outline: none;
  background-color: #272b30;
}

.item button {
  padding: 0;
}

.item button:active,
.item button:focus {
  outline: none;
}

.numTask {
  display: flex;
  width: 5%;
  border-right: inherit;
}

.num {
  width: 50%;
}

.removeTask {
  width: 50%;
  border: none;
  color: inherit;
  background-color: transparent;
}

.properties {
  width: 3%;
  background-color: inherit;
  color: LightGray ;
  border: inherit;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.task {
  padding-left: 10px;
  width: 47%;
  border: inherit;
  border-bottom: none;
  border-right: none;
}

.timerButton {
  width: 5%;
  background-color: inherit;
  color: #fff;
  border: inherit;
  border-bottom: none;
}

.stop {
  background-color: #ee5f5b;
  transition-duration: 0.2s;
}

.timerButton.stop:after {
  content:'Stop'; 
}

.timerButton.start {
  background-color: #62c462;
  transition-duration: 0.2s;
}

.timerButton.start:after {
  content:'Start';
}

.plan {
  width: 10%;
  text-align: center;
  border: inherit;
  border-bottom: none;
  border-left: none;
}

.fact {
  width: 10%;
  border: inherit;
  border-bottom: none;
  border-left: none;
}

.percent {
  width: 10%;
  text-align: center;
  border: inherit;
  border-bottom: none;
  border-left: none;
}

.necessary {
  width: 10%;
  color: #fff;
}
